@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Red Hat Display Bold';
  src: url('/fonts/RedHatDisplay.ttf');
}
@font-face {
  font-family: 'Fira Code Retina';
  src: url('/fonts/FiraCodeRetina.ttf');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
